.category{
    display:inline-flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white; 
}

.main-category{
    width: 4rem;
    height: 4rem;
}

.sub-category{
    width: 2rem;
    height: 2rem;
}

.selected{
    background-color: var(--bg-secondary);
}
