body{
    padding: 30px;
    background-color: #242236;
}

p{
    font-size: 30px;
    color:white;
}

*{
    /* font-family: 'Montserrat', sans-serif; */

    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto Mono', monospace; */
}


.control-button{
    font-size: 20px;
    padding: 2rem;
    margin: 0.4rem 0.3rem 0.4rem 0.3rem;
    display:inline-flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a284b;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 500px;
    height: 2.5rem;
    width: 7.5rem;
    color:white;
    border: 0;      
}

.control-button:active{
    font-size:15px;
    background-color: #4E2ECF;
    transition: all .1s ease;
}

.calc-button{
    font-size: 50px;
    padding: 2rem;
    margin: 0.4rem 0.3rem 0.4rem 0.3rem;
    display:inline-flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a284b;
    border-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    height:50px;
    width: 100px;
    color:white;
    border: 0;   
}

.calc-button:active{
    font-size:45px;
    background-color: #4E2ECF;
    transition: all .1s ease;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}



/* background-color: #6d07cc; */
/* background-color: #4E2ECF; */
/* background-color: transparent; */
/* background-color: #373258; */
/* background-color: #585379; */
/* background-color: #312f58; */

/* button:active{
    font-size: 45px;
    padding: 2rem;
    margin: 0.4rem 0.5rem 0.5rem 0.5rem;
    display:inline-flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4E2ECF;
    border-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height:100px;
    width: 100px;
    color:white;
    transition: all .1s ease;

} */